<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tarea 4</title>
</head>


<body>
<div>
    <h1>Ingreso de Producto</h1>
    <form method="post" th:action="@{/resultado}" th:object="${producto}">
        <div>
            <label for="codigoProducto">Codigo del producto   </label>
            <input th:field = "*{codigoProducto}" id="codigoProducto" type="text" placeholder="Ingresa el codigo" style="width: 400px" name="codigo" />
            <span th:errors= "*{codigoProducto}" style="color: #c91010"></span>
        </div>

        <br></br>
        <div>
            <label for="nombreProducto">Nombre del producto   </label>
            <input th:field = "*{nombreProducto}" id="nombreProducto" type="text" placeholder="Ingresa el nombre" style="width: 400px" name="nombre" />
            <span th:errors= "*{nombreProducto}" style="color: #c91010"></span>
        </div>
        <br></br>
        <div>
            <label for="marca">Marca   </label>
            <input th:field="*{marca}" id="marca" type="text" placeholder="Ingresa tus fecha de nacimiento" style="width: 400px" name="marca" />
            <span th:errors="*{marca}" style="color: #c91010"></span>
        </div>
        <br></br>
        <div>
            <label for="descripcion">Descripción   </label>
            <input th:field="*{descripcion}" id="descripcion" type="text" placeholder="Ingresa la descripción" style="width: 400px" name="descripcion" />
            <span th:errors="*{descripcion}" style="color: #c91010"></span>
        </div>
        <br></br>
        <div>
            <label for="existencias">Existencias  </label>
            <input th:field="*{existencias}" id="existencias" type="number" placeholder="Ingresa las existencias" style="width: 400px" name="colegio" />
            <span th:errors="*{existencias}" style="color: #c91010"></span>
        </div>
        <br></br>
        <div>
            <label for="fecha">Fecha de ingreso   </label>
            <input th:field="*{fecha}"  id="fecha" type="text" placeholder="Formato dd/mm/yyyy" style="width: 400px" name="fecha" />
            <span th:errors="*{fecha}" style="color: #c91010"></span>
        </div>
        <br></br>
        <div><input type="submit" value="Guardar producto"></div>
    </form>
</div>
</body>
</html>
